In [1]:
# To import all the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
# Collection of the required data for diabates and PIMA diabates dataset analysis

In [4]:
# Loading the dataset of the diabates to the pandas dataframe
# creating a variable to store dataset

In [5]:
dia_dataset = pd.read_csv('diabetes.csv')

In [6]:
pd.read_csv?

In [7]:
# to print the first 5 rows of the dataset

In [8]:
dia_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
# Labels/ outcomes as 1 or 0 if the person is diabetic or non diabateic

In [10]:
#finding the number of rows and the assocaited number of columns of dataset

In [11]:
dia_dataset.shape

(768, 9)

In [12]:
#hence 768 rows (dataset or people) and 9 columns

In [13]:
#finding the statistical measures of the following dataset

In [14]:
dia_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
dia_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [16]:
# Thus 0 means 500 non diabetic in the dataset and 1 meaning 268 are diabetic in the dataset

In [17]:
# fiding the mean values for both diabetic and non diabetic cases

In [18]:
dia_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [19]:
#This data is useful for machine learning algorithm, indices

In [20]:
# Seperation fo the data and their labels
# Axis is 1 since we are dropping a columns, o if its rows
A1 = dia_dataset.drop(columns = 'Outcome', axis=1)
A2 = dia_dataset['Outcome']

In [21]:
print(A1)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [22]:
print(A2)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [23]:
scaler = StandardScaler()

In [24]:
scaler.fit(A1)

StandardScaler()

In [25]:
std_data = scaler.transform(A1)

In [26]:
print(std_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [27]:
# Good for model preparation
# Training machine learning model , thus forming A1 and A2

In [28]:
A1 = std_data
A2 = dia_dataset['Outcome']

In [29]:
print(A1)
print(A2)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [30]:
# Train test split data, training and testing data
# 0.2 is 20% of the entire data for test data and 80% for training the model
#

In [31]:
A1_train, A1_test, A2_train, A2_test = train_test_split(A1, A2, test_size=0.2, stratify = A2, random_state = 2 )

In [32]:
print(A1.shape, A1_train.shape, A1_test.shape)

(768, 8) (614, 8) (154, 8)

In [33]:
# Now training the model

In [34]:
classifier = svm.SVC(kernel='linear')

In [35]:
# Training the support vector machine classifier

In [36]:
classifier.fit(A1_train, A2_train)

SVC(kernel='linear')

In [37]:
# Evaluation of the model

In [38]:
# To find the accuracy score

In [39]:
#accuracy score for the training data
A1_train_prediction = classifier.predict(A1_train)
training_data_accuracy = accuracy_score(A1_train_prediction, A2_train)

In [40]:
print('Accuracy score of the training data: ', training_data_accuracy)

Accuracy score of the training data:  0.7866449511400652

In [42]:
#accuracy score for the test data
A1_test_prediction = classifier.predict(A1_test)
test_data_accuracy = accuracy_score(A1_test_prediction, A2_test)

In [43]:
print('Accuracy score of the test data: ', test_data_accuracy)

Accuracy score of the test data:  0.7727272727272727

In [45]:
#Building a system Prediction system

In [46]:
input_data = (4, 100, 92, 0, 0, 33.5, 0.19, 35)
#changing the input data to a numpy array for prediction (model to process and to predict the values)
input_numpy_arr = np.asarray(input_data)
# reshaping the array since we are predicting for one instance only
input_data_reshaped = input_numpy_arr.reshape(1,-1)
#standardized the input data
std1_data = scaler.transform(input_data_reshaped)
print(std1_data)
prediction = classifier.predict(std1_data)
print(prediction)

[[ 0.04601433 -0.65393918  1.18359575 -1.28821221 -0.69289057  0.19132085
  -0.85129988  0.14967911]]
[0]

D:\Anaconda\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [49]:
if (prediction[0] == 0):
    print('The person is non diabetic')
else:
    print('The person is diabetic')

The person is non diabetic

In [ ]:
# Thus predictive system is formed and we can find if the person is diabetic or non diabetic